<h2  style="margin-top: 1em">Crear Cartelera</h2>

<div class="p-3 mb-2 bg-light text-dark">
	<form [formGroup]="createBillboardForm" (ngSubmit)="onSubmit()">

		<div class="form-group">
			<label for="nameBillboard">Nombre de la Cartelera</label>
			<input type="text" formControlName="nameBillboard" placeholder="Nombre de la cartelera"
				class="form-control" />
		</div>

		<label class="col-md-2 col-form-label" for="textarea-input">Usuarios habilitados</label>

		<select class="form-group" id="billboard" formControlName="user" style="margin-right: 1em">
			<option *ngFor="let usuario of profesors$" [ngValue]="usuario.id">
				{{usuario.username}}
			</option>
		</select>

		<button type="button" class="btn btn-danger btn-sm" (click)="addUser()">
			Agregar
		</button>

		<p class="text-secondary">
			Para ver los usuarios se requiere estar logueado como Admin.
		</p>

		<div formArrayName="writeUsers"
			*ngFor="let item of createBillboardForm.get('writeUsers').controls; let i = index;">
			<div [formGroupName]="i">
				<input formControlName="username" placeholder="Username" style="margin: 1em">
				<input formControlName="firstname" placeholder="Nombre" style="margin: 1em">
				<input formControlName="lastname" placeholder="Apellido" style="margin: 1em">
				<button type="button" class="btn btn-outline-danger btn-sm"(click)="deleteUser(i)">
					Eliminar usuario
				</button>
			</div>
		</div>
		<button class="btn btn-outline-secondary" type="submit">Aceptar</button>
	</form>
</div>

<div class="col px-md-2">
	<div class="p-3 border bg-light">
		<p>JSON a enviar al backend</p>
		<pre>{{createBillboardForm.value | json}}</pre>
	</div>
</div>