<app-new-billboard></app-new-billboard>

<h3>Listado de carteleras</h3>
<table class="table">
  <tr>
    <th>Nombre de la cartelera</th>
    <th>Usuarios habilitados</th>
    <th>Modificar</th>
    <th>Eliminar</th>
  </tr>

    <tr *ngFor="let billboard of billboards">
      <td>{{billboard.nameBillboard}}</td>

      <td>
        <p *ngFor="let user of billboard.writeUsers">{{user.username}} </p>
      </td>
      <td>
          <button type="button" class="btn btn-warning">Modificar cartelera</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteBilllboard(billboard)">Eliminar cartelera</button>
      </td>
    </tr>
</table>

